body {
    margin-left: 20px;
}

/* .green {
    background-color: greenyellow;
}
.red {
    background-color: red;
} */
.chat {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}
.msg {
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px;
    border-radius: 16px;
}